body
{
  background: url(https://static.pexels.com/photos/519403/pexels-photo-519403.jpeg);
  background-size:cover;
  display: flex;
  flex: 1;
  align-items: center;
}

.clock
{
	width: 8em;
	height: 8em;
	border-color: #FFFFFF;
	border-radius:50%;
	border:solid 8px;
	margin: 200px auto auto auto;
	position: relative;

}

.hand
{
	width: 3.5em;
	height: 0.3em;
	border-radius: 2em;
	background-color: rgb(255,255,255);
	margin: auto;
	position: absolute;
	top: 50%;
	right: 50%;
	transform-origin: 100%;
	transition:all 0.05s;
	transform: rotate(90deg);
	transition-timing-function:cubic-bezier(0.4, 0, 1, 1);
}
